# Ignore Mac system files
.DS_store

# Ignore node_modules folder
/node_modules
/.pnp

/build

# Ignore all text files
*.txt

# Ignore files related to API keys
.env.development

.DS_Store
.env.local
.env.development.local
.env.test.local